@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;  
  color: #FFFFFF;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-items a{
    text-decoration: none;
    font-weight: 500 ;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner section */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content button:hover{
    background-color: transparent;
    border: 2px solid #FF900E;
    color: #424242;
    box-shadow: 5px 5px 5px #72727227;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

/* team related section */
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* features section */
.features{
    gap: 146px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
  .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experiance-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}

#experiance-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
width: 100%;
}

/* fact related style */
.facts-container{
   display: grid; 
   grid-template-columns: repeat(4, 1fr);
}
.fact-description{
    max-width: 540px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}
.sponsor-companys img{
    filter: grayscale(100%);
}







/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar , 
    .nav-links ,
    .teams  ,
    .features    {
        flex-direction: column;
    }

    .team-image-container , .facts-container , .sponsor-companys{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
    margin-left: 20px;
}
.facts-container  {
    justify-items: center;
    gap: 20px;
}
.sponsor-companys{
     justify-items: center;
    gap: 50px;
}
#experiance-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
    .sponsor-companys{
        grid-template-columns: repeat(3, 1fr);
         justify-items: center;
    gap: 50px;
    }
}